.add-user-form > :not(:last-child) {
  margin-right: 10px;
}

.add-user-form-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.add-user-form-title {
  margin: 0;
  font-weight: 600;
}

.add-user-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.add-user-input {
  padding: 5px;
}

.add-user-button {
  cursor: pointer;
  padding: 5px;
}

.user-creation-success {
  color: green;
}

.user-creation-error {
  color: red;
}

@media (max-width: 600px) {
  .add-user-form-wrapper {
    flex-direction: column;
    align-items: stretch;
  }
  .add-user-form {
    justify-content: flex-start;
  }
}
