.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.popular-section,
.recommended-section {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 8px;
}

.popular-title,
.recommended-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.App-header p {
  font-weight: 700;
}
.App-link {
  color: #61dafb;
}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
