.Header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: calc(10px + 2vmin);
}

.Header-links {
  display: flex;
  align-items: center;
}

.Header-links > :not(:last-child) {
  margin-right: 10px;
}

.Header-container > :not(:last-child) {
  margin-right: 10px;
}

.Link {
  font-weight: 700;
  color: white;
}
