.Header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #2a9d8f;
  border-radius: 8px;
  font-size: calc(10px + 2vmin);
}



.Header-container img {
  height: 40px;
}

.Header-links {
  display: flex;
  align-items: center;
}

.Header-links > :not(:last-child) {
  margin-right: 10px;
}

.Header-container > :not(:last-child) {
  margin-right: 10px;
}

.Link {
  font-weight: 700;
  color: white;
}
