.Users-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Users-selector-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.Users-container > :not(:last-child) {
  margin-bottom: 20px;
}

.users-loading-error {
  color: red;
}
